{% extends 'sweetapp/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="property-search">
  <form>
    <div class="form-group">
      <label for="transaction-type">Тип сделки:</label>
      <select name="transaction-type" id="transaction-type">
        <option value="buy">Купить</option>
        <option value="rent">Снять</option>
        <option value="daily-rent">Посуточно</option>
      </select>
    </div>
    <div class="form-group">
      <label for="property-type">Тип недвижимости:</label>
      <select name="property-type" id="property-type">
        <option value="apartment">Квартира</option>
        <option value="room">Комната</option>
        <option value="house">Дом</option>
        <option value="land">Участок</option>
        <option value="garage">Гараж или машиноместо</option>
        <option value="commercial">Коммерческая недвижимость</option>
      </select>
    </div>
    <div class="form-group">
      <label for="area">Площадь:</label>
      <input type="text" name="area" id="area">
    </div>
    <div class="form-group">
      <label for="price-from">Цена от:</label>
      <input type="text" name="price-from" id="price-from">
    </div>
    <div class="form-group">
      <label for="price-to">Цена до:</label>
      <input type="text" name="price-to" id="price-to">
    </div>
    <div class="form-group">
      <label for="property-status">Статус недвижимости:</label>
      <select name="property-status" id="property-status">
        <option value="all">Все</option>
        <option value="new-buildings">Новостройки</option>
        <option value="second-hand">Вторичка</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Найти</button>
    </div>
  </form>
  <div class="map-view">
    <button class="btn btn-secondary">Показать на карте</button>
  </div>
</div>
<div id="news-block">
  <div id="news-items">
   {% for n in news %}
   {% if n.photo %}

    {% endif %}
   <div class="news-item">
     <img class="img-article-left thumb" src="{{n.photo.url}}">
    <h2><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h2>
    <p>{{ n.content | linebreaks | truncatewords:15 }}</p>
   </div>
    {% endfor %}
  </div>
 </div>
{% endblock %}