html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #1077e6;
	background: #d9d9d9;
}
a {
	color: #1077e6;
	text-decoration: none;
}
a:hover {
	color: #1077e6;
	text-decoration: underline;
}

img {max-width: 600px; height: auto;}

img.img-article-left {

	max-width: 300px;
	height: 100%;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 200px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}
.geturl a{
    color: #dbdbdb;
}
.geturl a:hover{
    color: #1077e6;
    text-decoration: none;
}
ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {


	background-color: #fff;
	height: 60px;
}
.blockmenu{
    display: flex;
    text-align: center;
    padding-top: 30px;
    background-color: #e6e6e6;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    justify: center;
    justify-content: space-around;
	height: 60px;
}

.logo {
	background: url('../images/logo.png') no-repeat 20px;

    width: 15%;
    height: 100%;

}
.title{
    text-align: center;
}
ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #1077e6;
	font-size: 20px;
	overflow: hidden;
}

button{
        border-radius:15px;
        border:none;
        padding:15px;
        color: #121212;
        background:white;
        box-shadow: 5px 5px 10px -2px rgba(34, 60, 80, 0.2);
        border: 2px solid black;
}

button:hover{
    opacity:0.7;
}

button:active{
    box-shadow: none;
    border:none;
}

ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #1f74cf;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #007bff;

}

.panelitems {
	text-align: center;
}

ul.langitem {
	list-style: none;
	display: inline-block;
	margin: 30px;
	padding: 0;
	max-width: 300px
}
ul.langitem li {
	margin: 10px 0 0 0;
	width: 100%;
}
ul.langitem li.image {
	margin: 0;
	text-align: center;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
ul.langitem li.descr {
	color: #777;
	height: 170px;
	overflow: hidden;
}
ul.langitem li a {
	color: #fdc073;
	text-decoration: none;
	font-size: 20px;
}
ul.langitem li a:hover {
	color: #FDA83D;
}
div.button {
	background: #3F4137;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow-y: scroll;
}

.left-chapters {
	margin: 0;
	background: #171616;
	border-right: 3px solid #1077e6;
	min-height: 100%;
}
.left-chapters ul {
	width: 230px;
	min-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #999;
}
.left-chapters ul li.selected {color: #0059b2; }
.left-chapters ul li a {
	color: #777;
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #007bff; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;


}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: white; }
ul.breadcrumbs li:after{
	padding: 0 10px 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

ul.control {
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 100%;
}
ul.control li {	float: left; padding: 0 0 0 10px;}
ul.control li.first:before {content: "\2190"; padding: 0 10px 0 0;}
ul.control li.last {float: right; padding: 0 40px 0 0;}
ul.control li.last:after {content: "\2192"; padding: 0 0 0 10px;}
ul.control li a { color: #0059b2; text-decoration: none; }
ul.control li a:hover { color: #CC0000; }

ul.content-table {
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;


}
ul.content-table li {
	margin: 0 0 40px 0;
	list-style-type: none;
}
ul.content-table li a {
    list-style-type: none;
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #F0711C;}

.content-text {
	margin: 30px 0 0 0px;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

}
.content-text h1 {font-size: 32px; color: #330ec7}


ul.lang-list {
	list-style: none;
	margin: 0;
	padding: 14px 0 0 0;
	background: #3F4137;
	width: 100%;
	height: 50px;
	border-top: 1px solid #959A82;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
ul.lang-list li {
    list-style: none;
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #fdc073; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
    list-style: none;
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #fdc073;}

.topic-subject .topic-line {
	border-bottom: 1px solid #CC0000;
	margin-top: -16px;
}

.topic-subject .topic-text {
	display: inline-block;
	font-size: 28px;
	color: #777;
	padding: 0 10px 0 10px;
	margin-left: 30px;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
}

.list-topic {
	margin: 40px 0 60px 0;
	font-family: 'Montserrat', sans-serif;
}
.list-topic p {
	margin: 0;
	font-size: 28px;
}
.list-topic ol {
	columns: 2;
	-webkit-columns: 2;
	column-gap: 40px;
}
.list-topic ol li {
	display: list-item;
	margin: 10px 10px 0 0px;
	padding: 0 0 0 10px;
}
.list-topic ol li a {
	color: #0059b2;
	text-decoration: none;
}
.list-topic ol li a:hover {color: #CC0000;}

.highlight {
	max-width: 350px;
	padding: 0 10px 0 10px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	background: #f0f0f0;
}
.highlight p { margin: 0; }
.highlight .block {
	width: 100%;
	margin: 0;
}
.highlight .block p { margin: 0; }

.quote {
	background: url('../images/blockquote.png') no-repeat 0 10px;
	padding: 5px 5px 5px 70px;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

#footer {
	box-sizing: border-box;

	background: #fff;
	box-shadow: 1px 13px 25px 10px rgba(34, 60, 80, 0.2);
	padding: 5px;
	color: #aaa;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	overflow: hidden;
	height: 100px;
}
#footer a {
	text-decoration: underline;
	color: #aaa;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #ff6363;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}
li {
    list-style-type: none;
}
.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {

	background: #1077e6;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
.views-box{
    display: flex;
    justify-content: flex-start;
}
.property-search {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px
}

.property-search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.property-search .form-group {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
}

.property-search label {
  display: block;
  margin-bottom: 5px;
}

.property-search select,
.property-search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.property-search button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.property-search .map-view {
  text-align: right;
}
#news-block {
   border-radius: 10px;
   margin: 0 auto;
   width: 100%; /* заменяем на процентную ширину */
   max-width: 800px;
   width: 800px;
   height: 300px;
   overflow: hidden;
   position: relative;
}

#news-items {
   width: 2000px;
   height: 500px;
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   flex-wrap: nowrap;
   animation: slide 20s infinite;
}

 .news-item {
   width: 800px;
   height: 300px;
   padding: 10px;
   box-sizing: border-box;
}

.news-item:nth-child(odd) {
   background-color: #eee;
}

.news-item:nth-child(even) {
   background-color: #ccc;
}

@keyframes slide {
   0% {left: 0;}
   50% {left: -1200px;}
}

.button {
   display: inline-block;
   padding: 10px;
   background-color: #333;
   color: #fff;
   cursor: pointer;
}

.button:hover {
   background-color: #555;
}

.button.left {
   float: left;
}

.button.right {
   float: right;
}
.spec-container{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.spec-container div{
    border-radius: 10px;
    width: 350px;
    height: 200px;
    background: white;
    box-shadow: 2px 2px 8px 8px rgba(34, 60, 80, 0.2);
    padding: 20px;
    margin: 20px;
}
button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.btn-center{
    margin: 0 auto;
    display:block;
}
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 20px auto;
   max-width: 1000px;
  }

.offer {
   background-color: #f2f2f2;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin-bottom: 20px;
   padding: 20px;
   width: calc(33.33% - 10px);
}

.offer img {
   display: block;
   margin: 0 auto;
   max-width: 100%;
}

.offer h3 {
   font-size: 24px;
   margin-top: 10px;
   text-align: center;
}

.offer p {
   font-size: 16px;
   line-height: 1.5;
   margin-top: 10px;
   text-align: justify;
}

.offer a {
   background-color: #007bff;
   border-radius: 5px;
   color: #fff;
   display: block;
   margin-top: 20px;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   transition: background-color 0.3s ease-in-out;
}

.offer a:hover {
   background-color: #0062cc;
}
footer {
  background-color: #f5f5f5;
  padding: 30px 0;
}

footer img {
  max-width: 100%;
}

footer .row{
    display: flex;
    flex-direction: row;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  margin-bottom: 5px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 5px;
}

.social-links {
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.social-links a {
  color: #333;
}

.app-links {
  margin-top: 10px;
}

.app-links img {
  max-width: 100%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.logofooter {
	background: url('../images/logo.png') no-repeat 20px;
    background-size: 100%
    width: 15%;
    height: 100%;

}
.title-center{
   border-radius: 10px;
   padding: 20px;

   margin: 0 auto;
   width: 100%; /* заменяем на процентную ширину */
   max-width: 800px;
   width: 800px;
   text-align: center;
   overflow: hidden;
   position: relative;
}
.container-newbuild {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}
.card {
   width: calc(33.33% - 20px);
   margin-bottom: 20px;
   background-color: #fff;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
   border-radius: 5px;
   overflow: hidden;
}
.card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.card .title {
   font-size: 24px;
   font-weight: bold;
   margin: 10px;
}
.card .types {
   margin: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   font-size: 16px;
}
.card .types span {
   background-color: #007bff;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   margin-right: 10px;
}
.card .area-price {
   margin: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   font-size: 16px;
}
.card .area-price span {
   margin-right: 10px;
}
.card .phone {
   margin: 10px;
   font-size: 16px;
}
.card .phone span {
   font-weight: bold;
   margin-right: 5px;
}
.card .btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   border-radius: 5px;
   text-decoration: none;
   margin: 10px;
   transition: all 0.3s ease-in-out;
}
.card .btn:hover {
   background-color: #0056b3;
   transform: translateY(-2px);
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  font-size: 16px;
}
.search-input{
    margin-top: 10px
}




.container-ad {
   width: 80%;
   margin: 0 auto;
   padding: 20px;
}
h1-ad {
   text-align: center;
   margin-bottom: 50px;
}
.ad {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
   padding: 20px;
   margin-bottom: 30px;
}
.ad img {
   width: 100%;
   height: auto;
   margin-bottom: 20px;
}
.ad h2 {
   margin-bottom: 10px;
   font-size: 24px;
}
.ad p {
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 1.5;
}
.ad .address {
   color: #888;
   margin-bottom: 20px;
}
.ad .price {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}
.ad button {
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   margin-right: 10px;
   transition: all 0.3s ease-in-out;
}
  .ad button:hover {
   background-color: #0056b3;
   transform: translateY(-2px);
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.sort {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}
.property {
    background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
   padding: 20px;
   margin-bottom: 30px;
}

.property img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.property h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.calculator {
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.result {
  margin-top: 20px;
}

h3 {
  font-size: 18px;
}

#payment {
  font-size: 24px;
}
.mortgage-programs {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.program-info {
  margin-top: 20px;
  background: white;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  padding: 20px;
}

h3 {
  font-size: 18px;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.apply-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-person{
    padding: 20px;
    background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
   padding: 20px;
   margin-bottom: 30px;
}
.profile img{
    margin-left: 43%;
    margin-top: 20px;
}
button a{
    color: black;
}